.field i {
  position: absolute;
  margin-left: calc(100% - 25px);
  bottom: 15px;
  color: #666;
  cursor: pointer;
  z-index: 10;
}
.field__input.a-field__input:disabled {
  border-bottom-color: red;
}
