.button-default {
  border-radius: 30px;
  cursor: pointer;
  outline: none !important;
  width: 140px;
  height: 50px;
}
.button-default.confirm {
  border: 2px solid #4e98a1;
  background-color: #448aa3;
  color: #fff;
}
.button-default.confirm:hover {
  opacity: 0.9;
}
.button-default:active {
  position: relative;
  top: 1px;
}
.button-default.confirm:active {
  background-color: #4e98a1;
}
.button-default.cancel {
  border: 2px solid rgba(139, 139, 139, .3);
  background-color: rgba(255, 255, 255, .9);
  color: #adadad;
}
.button-default.cancel:hover {
  color: #aaaa;
  border-color: #ccc;
}
