.msg-forgot {
  background-color: DarkSalmon;
  padding: 10px;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
  display: flex;
}
.btn-close-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
