table {
  box-shadow: 0 2px 4px #9e9e9e;
  border-radius: 5px;
  border-color: #9e9e9e;
  overflow: scroll;
}
.table-list > thead > tr {
  height: 50px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}
.table-list > thead > tr > th {
  text-align: center;
}
.table-list > tbody > tr {
  height: 45px;
}
.table-list > tbody > tr > td {
  text-align: center;
}
.table-list > tbody tr > td:last-child i {
  cursor: pointer;
}
.table-list > tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-list > tbody tr:hover {
  background-color: #5db6a065;
}
td.table-actions :nth-child(1):hover {
  color: firebrick;
}
td.table-actions :nth-child(2):hover {
  color: MediumSeaGreen;
}
td.table-actions :nth-child(3):hover {
  color: RoyalBlue;
}
td.table-actions :nth-child(4):hover {
  color: OrangeRed;
}
.table-list + .table-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 50px;
}
.table-list + .table-footer li {
  border: 1px solid #dedede;
  height: 25px;
  width: 25px;
  text-align: center;
  text-justify: center !important;
  color: black;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px #9e9e9e;
}
.table-list + .table-footer i {
  cursor: pointer;
}
.table-footer li.active {
  border: 1px solid #555;
  font-weight: bolder;
}
